@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

body {
    font-family: 'Miniver', cursive;
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 4em;
    background-color: yellow;
    padding: 5rem;
    margin: 0rem;
}

#input-text {
    font-size: 1.2rem;
    font-family: 'Miniver', cursive;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10vh;
    padding: 20px;
}

#btn-translate {
    font-size: 2rem;
    font-family: 'Miniver', cursive;
    background-color: yellow;   
    margin: auto;
    display: block;
    padding: 0.5rem 3rem;
}

#output {
    font-size: 1.2rem;
    resize: both;
    overflow: auto;
    padding: 20px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10vh;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

h2, p {
    text-align: center;
    background-color: yellow;
    margin: 0px;
}